{% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date: "%B %e, %Y" }}{%if post.author %} by <a href="http://www.github.com/{{ post.author }}">{{ post.author }}</a>{% endif %}</small></h3>
  <p>
    {% if post.limit %}
      {{ post.content | truncatewords:post.limit }}
    {% else %}
      {{ post.content | truncatewords:150 }}
    {% endif %}

    {% capture text %}{{ post.content | strip_html }}{% endcapture %}
    {% capture truncated_text %}{{ text | truncatewords: 150 }}{% endcapture %}
    {% if text != truncated_text %}
      <p><a href="{{ post.url }}">Read More</a></p>
    {% endif %}
  </p>
  {% unless forloop.last %}
    <hr>
  {% endunless %}
{% endfor %}

<ul class="pager">
  {% if paginator.next_page %}
  <li class="previous">
    <a href="/page{{paginator.next_page}}">&larr; Older</a>
  </li>
  {% endif %}

  {% if paginator.previous_page %}
  <li class="next">
    {% if paginator.previous_page == 1 %}
    <a href="/">Newer &rarr;</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </li>
  {% endif %}
</ul>