---
layout: default
---

<h1>{{ page.header }}{%if page.author %} <small>by {{page.author}}</small>{% endif %}</h1>
<h4>{{ page.date | date: "%B %e, %Y" }}</h4>
<hr>

{{ content }}
<ul class="pager">  
  {% if page.previous %}
    {% if page.categories == page.previous.categories %}
    <li class="previous">
      <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %}
  {% endif %}
  {% if page.next %}
    {% if page.categories == page.next.categories %}
    <li class="next">
      <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}
  {% endif %}
</ul>